@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* brand primary (orange) */
  --color-brand-primary-50: oklch(98% 0.016 73.684);
  --color-brand-primary-100: oklch(95.4% 0.038 75.164);
  --color-brand-primary-200: oklch(90.1% 0.076 70.697);
  --color-brand-primary-300: oklch(83.7% 0.128 66.29);
  --color-brand-primary-400: oklch(75% 0.183 55.934);
  --color-brand-primary-500: oklch(70.5% 0.213 47.604);
  --color-brand-primary-600: oklch(64.6% 0.222 41.116);
  --color-brand-primary-700: oklch(55.3% 0.195 38.402);
  --color-brand-primary-800: oklch(47% 0.157 37.304);
  --color-brand-primary-900: oklch(40.8% 0.123 38.172);

  /* brand secondary (blue) */
  --color-brand-secondary-50: oklch(97% 0.014 254.604);
  --color-brand-secondary-100: oklch(93.2% 0.032 255.585);
  --color-brand-secondary-200: oklch(88.2% 0.059 254.128);
  --color-brand-secondary-300: oklch(80.9% 0.105 251.813);
  --color-brand-secondary-400: oklch(70.7% 0.165 254.624);
  --color-brand-secondary-500: oklch(62.3% 0.214 259.815);
  --color-brand-secondary-600: oklch(54.6% 0.245 262.881);
  --color-brand-secondary-700: oklch(48.8% 0.243 264.376);
  --color-brand-secondary-800: oklch(42.4% 0.199 265.638);
  --color-brand-secondary-900: oklch(37.9% 0.146 265.522);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
